<div class="panel panel-danger">
	<div class="panel-heading">Ativa&ccedil;&atilde;o</div>
	
	<span class="text-success">{{msgCarga}}</span>
	<ul class="list-group">
		<li class="list-group-item">
			<button type="button" class="btn btn-primary" ng-click="carregaResumo()">
			<span><img src = "../resources/image/ic_action_turn_right.png"></span>
			Carrega Resumo
			</button>
		</li>
		<li class="list-group-item">
			<button class="btn btn-primary" ng-click="carregaGastos()">
			<span><img src = "../resources/image/ic_action_turn_right.png"></span>
			Recarrega Gastos
			</button>
		</li>
	<!-- 	<li class="list-group-item">
			<button class="btn btn-warning" ng-click="logoff()">Logoff</button>
		</li>  -->
	</ul>
	
</div>	
