<div class="panel panel-danger">
	<div class="panel-heading">Pendencias</div>
	<span class="text-success">{{msg}}</span>
	<form role="form">
		<div class="form-group">
		<select type="select" name='tipoPendencia' ng-model="tipoPendencia" class="form-control" ng-change="listaPendencia()">
			<option value="ContaGasto">Todos</option>
			<option value="Conta">Conta</option>
			<option value="Gasto">Gasto</option>
		</select>
		</div>
	</form>
	
	<table class="table">
		<thead>
			<tr>
				<th>Descri&ccedil;&atilde;o</th>
				<th>Tipo</th>
				<th>Vencimento</th>
				<th>Valor</th>
			</tr>
		<thead>
		<tbody>
			<tr ng-repeat="pendencia in listaContasPendentes ">
				<td>{{pendencia.descricao}}</td>
				<td>{{pendencia.tipo}}</td>
				<td>{{pendencia.vencimento | date:'dd/MM/yyyy' }}</td>
				<td>{{pendencia.valor | number:2}}</td>
			</tr>
		<tbody>
		<tfoot>
			<tr>
				<td></td>
				<td></td>
				<td style="font-weight: bold;">Total</td>
				<td style="font-weight: bold;">{{totalizaContasPendentes() | number :2}}</td>
			</tr>
		<tfoot>
	</table>
</div>