.ui-panelgrid td, .ui-panelgrid tr
{
    border-style: none !important; 
} 

.ui-panelgrid_ext td, .ui-panelgrid_ext tr, .ui-panelgrid_ext th
{
    border-style: solid !important;
}

/** usado no atributo icon do primefaces */
.icone_exclusao {
		background-image: url("../resources/image/Erase.png") !important;
}

.icone_inclusao {
		background-image: url("../resources/image/Create.png") !important;
}

.icone_alteracao {
		background-image: url("../resources/image/Modify.png") !important;
}

.icone_dinheiro {
		background-image: url("../resources/image/Dollar.png") !important;
}

.icone_saida {
		background-image: url("../resources/image/Back.png") !important;
}

.icone_pino_vermelho {
		background-image: url("../resources/image/Red_pin.png") !important;
}

.icone_pino_azul {
		background-image: url("../resources/image/Blue_pin.png") !important;
}

.icone_dinheiro {
		background-image: url("../resources/image/Dollar.png") !important;
}
.destaque_vermelho {
	color: red; 
	font-weight: bold;
}

.normal {
	color: black;
	font-weight: normal;
}

.borda_simples {
	border: 1px solid black;
}

.font_bold {
	font-weight: bold !important;
}